/* 
---------------------------------------------
Global Styles
--------------------------------------------- 
*/

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  /* font-size: 16px; */
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f2122;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
	color: white;
  text-decoration: none !important;
}
a:hover {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-weight: 700;
}

ul {
  margin-bottom: 0px;
}

body .page-content {
  background-color: #27292a;
  border-radius: 23px;
  width:85%;
  margin: 0 auto;
}

.page-content {
  margin: 15%;
}

::selection {
  background: #e75e8d;
  color: #fff;
}

::-moz-selection {
  background: #e75e8d;
  color: white;
}

.container-fluid{
  padding: 0 !important;
}

.row {
  margin: 0;
  min-width: auto;
  max-width: auto;
  min-height: auto;
  max-height: auto;
}

main {
    flex:1;
}

/* 
---------------------------------------------
Contact form Style
--------------------------------------------- 
*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ec6090;
  color: white;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ec6090;
}

label {
  color: #fff;
  font-size: auto;
}

/* 
---------------------------------------------
Navigationsbar Style
--------------------------------------------- 
*/
.navbar {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 12.5%;
  min-height: 12.5%;
  height: 12.5%; 
  background-color:#1e1e1e !important;
}

.icon-button {
  text-align:center;
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

.icon-button i {
  font-size:48px;
  color:#ec6090;
  width:64px;
  height:auto;
}

.icon-button p {
  font-size: 20px;
  color:white;
}

.search-bar {
  display: flex;
  margin-bottom: 0px;
  min-width: 0em;
}

.search-form {
  font-size: 20px;
}

.search-icon {
  border-bottom:  1px solid #ec6090;
  padding-left:   4px;
}

.icon-button input {
  outline: none;
  background-color: #1e1e1e;
  
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid #ec6090;

  /* Entfernt den Rand (Border) des Inputs; */
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
  

.icon-button input:focus {
  outline: none;
  background-color: #1f2122;
  color: white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid #ec6090;

  /* Entfernt den Fokus (blaue Umrandung) */
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 

/* Since the navbar contains floated elements, you should add a clearfix to ensure proper positioning and avoid overlapping issues */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox to create a horizontal layout */
}

.ul li {
  margin-right: 10px; /* Add spacing between list items if desired */
}

/* 
---------------------------------------------
cards Style
--------------------------------------------- 
*/

.btn-buy-now  {
  background-color: #ec6090;
  border-color: #ec6090;
  color: #1e1e1e;
}

.btn-buy-now:hover {
  background-color: #622a3d;
  border-color: #622a3d;
  color: #1e1e1e;
}
 .card {
  background-color: dimgrey;
  color: #27292a;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer a {
  font-size: 14 px;  
}

footer p {
  text-align: center;
  color: #fff;
  font-weight: 300; 
  font-size: 12px ;
}

footer {
  position:relative;
  bottom:0px;
}

.bg-footer {
  background-color: #ec6090;
}

.socials {
  color: white;
}

.socials li {
  display:inline;
  margin-top:16px;
}

footer > hr {
  color:white; 
  height: 1px; 
  margin: 0 auto;
}


.small-links li{
  background-color: #ec6090;
  text-align: center;
  color:white;
  border-color:white;
  border-left: none;
  border-right:none; 
}

.buttonlist {
  font-style:none;
  font-size: 12px;;
}


/* 
---------------------------------------------
Impressum Style
--------------------------------------------- 
*/

.justified {
  text-align: center;
  text-justify: inter-word;
  text-align-last: center;
  color:darkgray;
  
}

/* 
---------------------------------------------
Register Style
--------------------------------------------- 
*/


.register-custom-font-color {
  color: #e75e8d;
}


/* 
---------------------------------------------
Support Page Styles
--------------------------------------------- 
*/

.faq {
  text-align: center;
}

.accordion-button {
background-color: #e75e8d;
}

.accordion-button:not(.collapsed) {
background-color: #e75e8d;
}

.accordion-button:not(.collapsed) {
  color: black;
}


/* Wir entfernen hier den Rand des Buttons wenn wir ihn anklicken */
.accordion-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}


/*
Die Anmation des Akkordions wechselt von einem schwarzen Zeiger auf einen blauen Zeiger nach einem Klick. 
Wir verändert einfach die Brightness um denn blauen Zeiger schwarz auszusehen zu lassen (nach dem Klick). 
*/
button.accordion-button::after  {
  filter:brightness(0%);
}

/* 
---------------------------------------------
Home Page Style
--------------------------------------------- 
*/


#carouselGames {
  margin:0; 
  padding:0;
}

/* 
---------------------------------------------
Responsive Style
--------------------------------------------- 
*/

/* Desktop breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 32px;
  }
  .socials li i {
    font-size:32px;
    margin-left:16px;
    margin-right:16px;
  }
  header {
    min-width:100%;
    min-height:100%
  }
  
  main {
    min-width:100%;
    min-height:100%
  }

  footer{
    min-width:100%;
    min-height:100%
    
  }
}

/* Tablet breakpoint */
@media (min-width: 767px) {
  body {
    font-size: 18px;
  }
  .socials li i {
    font-size:18px;
    margin-left:8px;
    margin-right:8px;
  }

  header {
    min-width:100%;
    min-height:100%
  }
  main {
    min-width:100%;
    min-height:100%
  }

  footer{   
    min-width:100%;
    min-height:100%;
  }

}

/* Mobile breakpoint */
@media (min-width: 320px) {
  body {
    font-size: 14px;
  }
  .socials li i {
    font-size:18px;
    margin-left:8px;
    margin-right:8px;
  }
  header {
    min-width:100%;
    min-height:100%
  }

  main {
    min-width:100%;
    min-height:100%
  }

  footer{   
    min-width:100%;
    min-height:100%;
  }
}

/* @media (min-width: 1200px) {

  .socials li i {
    font-size:32px;
    margin-left:16px;
    margin-right:16px;
  }

  footer{
    min-width:100%;
    min-height:100%;
  }

} */

/* @media (min-width: 993px) {

  .socials li i {
    font-size:24px;
    margin-left:12px;
    margin-right:12px;
  }

  footer{
    min-width:100%;
    min-height:100%;
  }
} */

/* Styles for devices with a minimum width of 769px and a maximum of 992px (e.g., tablets) */
/* @media (min-width: 769px) and (max-width: 992px) {
  .socials li i {
    font-size:18px;
    margin-left:8px;
    margin-right:8px;
  }
  footer{   
    min-width:100%;
    min-height:100%;
  }
} */

/* Styles for devices with a maximum width of 768px (e.g., smartphones) */
/* @media (min-width: 767px) 
{

  .socials li i {
    font-size:18px;
    margin-left:8px;
    margin-right:8px;
  }

  footer{   
    min-width:100%;
    min-height:100%;
  }
} */

/* Styles for devices with a maximum width of 768px (e.g., smartphones) */
/* @media (max-width: 768px) {
  
  body {
      font-size: 16px;
  }

  .socials li i {
    font-size:18px;
    margin-left:8px;
    margin-right:8px;
  }
  header{
    min-width: 100px;
    min-height: 100px;
  }

  main {
    min-width: 100px;
    min-height: 100px;
  }
  footer{   
    min-width: 100px;
    min-height: 100px;
  }
} */


